* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: -200px;
}

.comment-flexbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-text {
  margin: 15px 0;
  font-size: 1 rem;
  font-weight: 600;
}

.input-box {
  height: 80px;
  width: 400px;
  background-color: azure;
}

.comment-button {
  height: 40px;
  width: 100px;
  background-color: rgb(172, 74, 4);
  color: antiquewhite;
  border-radius: 10%;
  border-style: none;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 300;
  font-size: 25px;
  transition: transform 500ms ease;
}

.comment-container {
  height: 80px;
  width: 400px;
  background-color: azure;
  border-radius: 5px;
  margin: 10PX 0;
  word-break: break-all;
}
